<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="muldelmapper">

	<resultMap type="yatte.board.dto.EventDto" id="dtoMap">
		<result column="POSTNUM" property = "postnum" />
		<result column="PWD" property = "pwd" />
		<result column="ID" property = "id" />
		<result column="TITLE" property = "title" />
		<result column="CONTENT" property = "content" />
		<result column="TODAY" property = "today" /> 
		<result column="HIT" property = "hit" /> 
		<result column="PARENT" property = "parent" /> 
		<result column="SORT" property = "sort" /> 
		<result column="TAB" property = "tab" /> 

	</resultMap>	


	<select id="selectlist" parameterType="map" resultType = "yatte.board.dto.EventDto">
		SELECT RN, POSTNUM,ID,PWD,TITLE,CONTENT,TODAY,HIT,PARENT,SORT,TAB
		FROM (SELECT ROWNUM AS RN, POSTNUM,ID,PWD,TITLE,CONTENT,TODAY,HIT,PARENT,SORT,TAB
		FROM (SELECT POSTNUM,ID,PWD,TITLE,CONTENT,TODAY,HIT,PARENT,SORT,TAB
		FROM BOARD ORDER BY PARENT DESC,SORT DESC))
		WHERE RN >=#{begin} AND RN <![CDATA[ < ]]>=#{end} 
		
	</select>
	
	<select id="gettotal" resultType="yatte.board.dto.EventDto">
		SELECT COUNT(*) CNT =#{cnt} FROM BOARD
	</select>
	
	<select id="selectOne"  parameterType="map" resultMap="dtoMap">
		SELECT * FROM BOARD WHERE POSTNUM = #{postnum}
	</select>
	

	<insert id="insert" parameterType="EventDto">
		 INSERT INTO BOARD 
		 VALUES((select NVL(max(#{postnum}),0)+1 from board),#{id},#{pwd},#{title},#{content},SYSDATE,0,(select NVL(max(#{postnum}),0)+1 from board),0,0)
		
		<!-- insert into board 
		values((select NVL(max(num),0)+1 from board),name,pwd,subject,content,SYSDATE,0,(select NVL(max(num),0)+1 from board),0,0) -->
	</insert>


	<delete id="muldel" parameterType="map">
		DELETE FROM BOARD
		WHERE POSTNUM IN
		<foreach collection="postnums" item="postnum"
			open="(" separator="," close=")">
			#{postnum}	
		</foreach>
	</delete>
	
	
	<delete id="delete" parameterType="yatte.board.dto.EventDto">
		DELETE FROM BOARD WHERE POSTNUM = #{postnum}	
	</delete>
	
	
	<update id="update" parameterType="yatte.board.dto.EventDto">
		UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE POSTNUM = #{postnum}
	</update>
	
	<insert id="answer" parameterType="yatte.board.dto.EventDto">
		INSERT INTO BOARD VALUES(#{id}, POSTNUM.NEXTVAL, 1,
		(SELECT GROUP_NUM FROM BOARD WHERE POSTNUM = #{postnum}),
		 (SELECT GROUP_ORDER FROM BOARD WHERE POSTNUM = #{postnum})+1,
		  #{title}, #{content}, SYSDATE,
		 (SELECT TITLETAB FROM BOARD WHERE POSTNUM = #{postnum} )+1)
	</insert>
	
</mapper>
